:root {
  --white-color: #ffffff;
  --black-text-color-main: #212121;
  --blue-color-hover: #2196f3;
  --gray-color: #757575;
  --darkgray-color: #2f303a;
  --black-color: #000000;
  --gray-background-color: #f5f4fa;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--white-color);
  color: var(--black-text-color-main);
}

/*--Logo styles-------------------------------------*/
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--blue-color-hover);
}

.logo-studio-header {
  color: var(--black-color);
}

.logo-studio-footer {
  color: var(--white-color);
}

/*--Navigation styles-------------------------------------*/
.navigation-links-list .navigation-links-item.current {
  color: var(--blue-color-hover);
}

.navigation-links-item,
.navigation-contact-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style-type: none;
}

.nav-link-reference {
  color: inherit;
  text-decoration: none;
}

.nav-contact-reference {
  color: var(--gray-color);
  text-decoration: none;
}

.nav-link-reference:hover,
.nav-link-reference:focus,
.nav-contact-reference:hover,
.nav-contact-reference:focus {
  color: var(--blue-color-hover);
  text-decoration: none;
}

/*--Hero styles-------------------------------------*/
.hero-section {
  background-color: var(--darkgray-color);
}

.hero-section-title {
  font-weight: 900;
  color: var(--white-color);
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-section-button {
  background: var(--blue-color-hover);
  color: var(--white-color);
  cursor: pointer;
}

/*--Features styles-------------------------------------*/
.features-item {
  list-style-type: none;
}

.features-item-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: inherit;
}

.features-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-secondary);
}

/*--"What we do" section styles-------------------------------------*/
.what-we-do-list {
  margin-left: 0;
  padding-left: 0;
}

.what-we-do-item {
  list-style-type: none;
}

.what-we-do-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: inherit;
}

/*--"Our Team" Section styles-------------------------------------*/
.our-team {
  background-color: var(--gray-background-color);
}

.our-team-list {
  margin-left: 0;
  padding-left: 0;
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: inherit;
}

.our-team-item {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  list-style-type: none;
  background-color: var(--white-color);
}

.our-team-item-name {
  font-weight: 500;
  color: inherit;
}

.our-team-item-position {
  color: var(--text-color-secondary);
}

/*--Portfolio Section styles-------------------------------------*/
.portfolio-btn-item {
  list-style-type: none;
}

.portfolio-list {
  list-style-type: none;
}

.portfolio-btn {
  background: var(--gray-background-color);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: inherit;
  cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background: var(--blue-color-hover);
  color: var(--white-color);
}

.portfolio-item {
  color: inherit;
  text-decoration: none;
}

.portfolio-item-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: inherit;
}

.portfolio-item-category {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color-secondary);
}

/*--Footer Section styles-------------------------------------*/
.footer {
  background-color: var(--darkgray-color);
}

.address {
  font-style: normal;
}
.address-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  list-style-type: none;
}

.footer-contact-reference {
  color: var(--gray-color);
  text-decoration: none;
}

.footer-contact-reference:hover,
.footer-contact-reference:focus {
  color: var(--blue-color-hover);
  text-decoration: none;
}

.actual-address {
  color: var(--white-color);
}
